<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Annuaire</title>
    <div th:replace="fragments/header :: header-css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/directory.css}" href="../../css/main.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

<div th:replace="fragments/header :: header(module='directory')">Menu Indisponible</div>

<div class="container containerBody">
    <table id="employee" class="table table-bordered table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Promotion CPGE</th>
            <th scope="col">Ecole</th>
            <th scope="col">Promotion Ecole</th>
            <th scope="col">Emploi</th>
            <th scope="col">Lieu</th>
        </tr>
        </thead>
        <tbody id="emp_body">
        </tbody>
    </table>
    <div id="pager" class="pagination-wrapper">
        <ul id="pagination" class="pagination"></ul>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"/>
<script type="text/javascript" th:src="@{/js/directory.js}"/>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>